body {
  font-family: 'Roboto', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #333;
}
.app-container {
  padding: 50px;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
h1 {
  font-weight: 200;
}
.channel h3 {
  margin-top: 30px;
  color: #666;
}
.home ul, .channel ul {
  padding: 0;
}
.home ul li {
  list-style-type: none;
  padding: 20px;
  border-radius: 2px;
}
.home ul li:hover {
  background: #dae9fb;
  cursor: pointer;
}
.channel ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}
.channel ul li:last-child {
  margin-right: 0;
}
.channel ul li img {
  width: 40px;
  border-radius: 20px;
}
.channel ul li p {
  margin: 0;
  font-size: 10px;
  white-space: nowrap;
  width: 40px;                   
  overflow: hidden;
  text-overflow: ellipsis;
}
.channel .agent {
  margin-top: 15px;
}
.channel .book-now-btn {
  text-align: center;
  border-radius: 2px;
  background: #348F38;
  border: none;
  border-bottom: 2px solid #2b762e;
  color: #FFFFFF;
  font-size: 15px;
  text-shadow: 1px 0 0 0 rgba(0, 0, 0, .3);
  cursor: pointer;
  width: 100%;
  height: 40px;
}
.channel .book-now-btn:hover {
  background: #2b762e;
  border-bottom: 2px solid #225d24;
}
.channel label {
  display: block;
  margin-top: 10px;
}
.channel .date-picker {
  border-radius: 2px;
  border: 1px solid #ddd;
  margin-top: 5px;
}
.channel .availability-metrics {
  margin-top: 20px;
}
.channel .link {
  color: #1771e2;
  cursor: pointer;
}
.channel .back {
  position: relative;
  top: 7px;
}
